fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.1
pydantic-settings==2.5.2
sqlalchemy[asyncio]==2.0.32
asyncpg==0.29.0
redis[hiredis]==5.0.8
aiohttp==3.10.5
numpy==1.26.4
xgboost==2.1.0
shap==0.45.1
joblib==1.4.2
scikit-learn==1.5.1
